<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.business.agrocoin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.business.agrocoin.Util.YouApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.business.agrocoin.Activity.ScanBarCodeActivity"
            android:exported="false" />
        <activity
            android:name="com.business.agrocoin.Activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.business.agrocoin.Activity.TermandCondition"
            android:exported="false" />
        <activity
            android:name="com.business.agrocoin.Activity.EditProfile"
            android:exported="false" />
        <activity
            android:name="com.business.agrocoin.Activity.PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name="com.business.agrocoin.Activity.FaqActivity"
            android:exported="false" />
        <activity
            android:name="com.business.agrocoin.Activity.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name="com.business.agrocoin.Activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.business.agrocoin.Activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.business.agrocoin.Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.business.agrocoin.Activity.MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.business.agrocoin.Activity.SplaceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <service
            android:name="com.business.agrocoin.Util.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.business.agrocoin.Util.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>